@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(222, 205, 205);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
    color: white;
    height: 80px;
}

li {
    padding-top: 50px;
}

.content {
    font-family: 'Potta One', cursive;
    font-size: 2rem;
}

.container {
    width: 50vw;
    padding: 0 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

strong {
    font-size: 20px;
}

.logo {
    padding: 0px 25px;
}

.logo img {
    width: 32px;
}

.toolbar-item button {
    cursor: pointer;
    color: white;
}